creds/*
!creds/.gitkeep
data/*
!data/.gitkeep
composer.lock
vendor/
.env
data.php
apple/*.csv
podcasts/*.csv
twitter/graphs
twitter/tweets
triton/*.json
*-test.php
hpm-analytics/package-lock.json
.vscode